<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <hr>

  <router-outlet></router-outlet>

  <div class="alert alert-success myAlert" id="success-alert" role="alert" *ngIf="this.alertMessage">
    <a class="close-alert" (click)="hideMessage()"><i class="fa fa-times"></i></a>
    {{alertMessage}}
  </div>
  <div class="alert alert-danger myAlert" role="alert" id="error-alert" *ngIf="this.alertMessage">
      <a class="close-alert" (click)="hideMessage()"><i class="fa fa-times"></i></a>
      {{alertMessage}}
  </div>
  <div class="alert alert-warning myAlert" role="alert" id="warning-alert" *ngIf="this.alertMessage">
      <a class="close-alert" (click)="hideMessage()"><i class="fa fa-times"></i></a>
      {{alertMessage}}
  </div>
</div>